<%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track": "reload" %>

<div class="form-container">
  <% if @conclusion.present? %>
    <div class="conclusion">
      <h1>Conclusion:</h1>
      <h1><%= @conclusion %></h1>
      <%= link_to "Start Again", root_path, class: ".btn" %>
    </div>
  <% else %>
    <form action="<%= question_path(@current_question) %>" method="get">
      <h1><%= @current_question.question %></h1>
      <%= button_tag "Yes", name: "answer", value: true, type: "submit" %>
      <%= button_tag "No", name: "answer", value: false, type: "submit" %>
    </form>
  <% end %>
</div>
